html{
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  width: 100%;

}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: url(exp bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: table;
}

#searchbar{
  float: left;
  margin-top: 20px;
  margin-right: 0.6%;
  height: 74px;
  width: 9.675%;
  box-sizing: border-box;
  font-size: 22px;
  color: #fff;
  font-family: "Kosugi Maru", sans-serif;
  border: none;
  background-color: rgba(255, 255, 255, 0.1 );
  padding: 10px 20px 10px 10px;
}

#searchbtn{
  float: left;
  clear: left;
  width: 3.225%;
  height: 74px;
  margin-top: 20px;
  margin-left: 0.6%;
  background: url("searchicon.png");
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.1 );
  background-position: 8px 16px;
  border: none;
  transition: 250ms;
}

#searchbtn:hover{
  background-color: rgba(255, 255, 255, 0.4);
}

#logo{
  float: right;
  clear: right;
  background: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  background-image: url(mima_rev1.0.png);
  background-size: 200px auto;
  background-position: center;
  margin-right: 0.6%;
  margin-top: 4px;
  height: 74px;
  width: 12.9%;
}

#wrapper{
  text-align: center;
}

#nav{
  height: 74px;
}

ul{
  margin: 1.25% auto;
  width: 70%;
  list-style: none;
  background: rgba(255, 255, 255, 0.1 );
}

li{
  margin-top: 0px;
  font-family: 'Major Mono Display', monospace;
  display: inline-block;

}

li a{
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  transition: 250ms;
  padding: 25px;
}

li a:hover{
  transition: 250ms;
  background: rgba(255, 255, 255, 0.4);
  color: #fff;
}

#dropdown{
  background-color: transparent;
  color: #fff;
  font-size: 24px;
  border: none;
  font-family: 'Major Mono Display', monospace;
  padding: 23px;
  transition: 250ms;
}

#dropper{
  position: relative;
  display: inline-block;
}
#dropcont{
  display: none;
  position: absolute;
  background-color: transparent;
  min width: 100px;
  z-index: 1;
}

#dropcont a{
  color: #fff;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
}

#dropcont a:hover{
  background: rgba(255, 255, 255, 0.4);
}

#dropper:hover #dropcont{
  display: block;
}

#dropper:hover #dropdown{
  background: rgba(255, 255, 255, 0.4);
}
