html{
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  width: 100%;

}


body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: url(exp bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: table;
}
    /* this is the part with the upper navbar */
#wrapper{
  text-align: center;
}

#nav{
  height: 70px;
}

#wrapper ul{
  margin: 20px auto;
  width: 1100px;
  list style: none;
  background: rgba(255, 255, 255, 0.1 );
}

#wrapper li{
  margin-top: 20px;
  font-family: 'Major Mono Display', monospace;
  display: inline-block;

}

#wrapper li a{
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  transition: 500ms;
  padding: 25px;
}

#wrapper li a:hover{
  transition: 500ms;
  background: rgba(255, 255, 255, 0.4);
  color: #fff;
}

/* until this part */

.infobox{
  text-align: center;
  padding: 30px;
  background: rgba(0, 0, 0, 0.8);
  margin-left: 150px;
  margin-right: 150px;
}

.name{
  font-family: 'Major Mono Display', monospace;
  color: rgba(255, 255, 255, 1);
  font-size: 70px;
}

.desc{
  font-family: 'Press Start 2P', cursive;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
}

.thx{
  font-family: 'Cedarville Cursive', cursive;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
}

/* the part with the sources listed */

.sources{
  background: rgba(0, 0, 0, 0.8);
  margin-left: 150px;
  margin-right: 150px;
  padding: 30px;

}

#texty{
  color: rgba(255, 255, 255, 1);
  font-family: 'Kosugi Maru', sans-serif;
  font-size: 20px;
}

#texty ul{
  font-family: 'Kosugi Maru', sans-serif;
  list-style: none;
  font-size: 25px;
}

#texty li{
  margin: 20px;

}

/* sources listing closed */
